asgiref==3.12.1
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
Django==6.1
flatbuffers==25.9.23
h11==0.16.0
idna==3.19
image==1.5.33
jh2==5.0.13
niquests==3.21.0
numpy==2.5.2
openmeteo_requests==1.7.5
openmeteo_sdk==1.28.0
pandas==3.0.5
pillow==12.3.0
PyAudio==0.2.14
pycparser==3.0
python-dateutil==2.9.0.post0
python-vlc==3.0.21203
pyttsx3==2.99
qh3==1.9.4
requests==2.34.2
retry-requests==2.0.0
scipy==1.18.1
six==1.17.0
sounddevice==0.5.6
sqlparse==0.6.0
sr==0.1.0
urllib3==2.7.0
urllib3-future==2.24.902
wassima==2.1.3
